!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Tshtask'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Tshtask'}"}
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body#dashboard
    %nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to "Currency.Online", root_path, class: 'navbar-brand'
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            %li
              = link_to destroy_user_session_path, method: :delete, class: 'btn btn-account' do
                Sign out
                %i.fa.fa-sign-out
    = render 'layouts/messages'
    .container-fluid.dash_wrapper
      .row
        .col-md-3.navi
          #sideMenu
            %ul.menu
              %li.text-center
                = link_to "Exchange rates", dashboard_path
            .text-center
              %i.fa.fa-minus
            %ul.menu.text-center
              - Currency.all.pluck(:name).uniq.each do |currency|
                %li= link_to currency, report_path(currency_name: currency)
        .col-md-9.col-md-offset-3.pages_wrapper
          = yield
