!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Tshtask'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Tshtask'}"}
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body#page-top.index
    %nav#mainNav.navbar.navbar-default.navbar-custom.navbar-fixed-top
      .container
        / Brand and toggle get grouped for better mobile display
        .navbar-header.page-scroll
          %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            Menu
            %i.fa.fa-bars
          %a.navbar-brand.page-scroll{:href => "#page-top"} CurrencyOnline
        / Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            %li.hidden
              %a{:href => "#page-top"}
            - if user_signed_in?
              %li
                = link_to "Log out", destroy_user_session_path, method: :delete
            - else
              %li
                %a.page-scroll{:href => "#features"} Features
              %li
                = link_to "Create Account", new_user_registration_path
              %li
                = link_to "Sign In", new_user_session_path
    / Services Section
    = render 'layouts/messages'
    = yield
